<?php
    $products = $this->index();
	$custom_datas = Mage::getModel('test_alfa/comment')->getCollection();
	// echo 'SQL : '. $products->getSelect()->__toString() . PHP_EOL;
?>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
	$(function() {
	  $(".listitems li").sort(sort_li).appendTo('.listitems');
	  function sort_li(a, b) {
		return ($(b).data('position')) < ($(a).data('position')) ? 1 : -1;
	  }
	});
	
	$(document).ready(function() {
		$("#btnReverse").click(function() {
			var list = $('.listitems');
			var listItems = list.children('li');
			list.append(listItems.get().reverse());
		});
	});
</script>
<style>
	.datagrid table {
		 border-collapse: collapse;
		 text-align: left;
		 width: 100%;
	}
	 .datagrid {
		font: normal 12px/150% Verdana, Arial, Helvetica, sans-serif;
		 background: #fff;
		 overflow: hidden;
		 border: 1px solid #EDEDED;
	}
	.datagrid table td, .datagrid table th {
		 padding: 3px 10px;
	}
	.datagrid table thead th {
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3399CC), color-stop(1, #3399CC) );
		background:-moz-linear-gradient( center top, #3399CC 5%, #3399CC 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3399CC', endColorstr='#3399CC');
		background-color:#3399CC;
		 color:#FFFFFF;
		 font-size: 10px;
		 font-weight: bold;
		 border-left: 1px solid #0070A8;
	}
	 .datagrid table thead th:first-child {
		 border: none;
	}
	.datagrid table tbody td {
		 color: #636363;
		 border-left: 1px solid #EDEDED;
		font-size: 12px;
		border-bottom: 1px solid #EDEDED;
		font-weight: normal;
	}
	.datagrid table tbody td:first-child {
		 border-left: none;
	}
	.datagrid table tbody tr:last-child td {
		 border-bottom: none;
	}


	/* Reset the .std styles */
    .std ul.products-grid li {
        list-style: none;
        margin-left: 0;
    }
    .std ul.products-grid li .product-info {
        padding-bottom: 0 !important;
        min-height: 0 !important;
    }
    .widget-new-products h2 {
        text-align: center;
    }
	
	#btnReverse{
		margin-left: 2%;
		margin-bottom: 2%;
	}

</style>
<div class="std">
	<div class="widget widget-new-products">	
       <div class="widget-title">
			<h2>Alfa's Products</h2>
	   </div>
		<button class='button' id='btnReverse' >
			<span>
				<span>Reverse Order</span>
			</span>
		</button>
		
		<ul class="products-grid products-grid--max-5-col-widget listitems">
			<?php	
				foreach ($products as $product) {
						// var_dump($product);
						$product_id = $product->getEntityId();
						$sort_order = $product->getSortOrder();
						$_product = $product->load($product_id);
						$name =  $_product->getName();
						$reg_price =  $_product->getPrice();
						$prod_url = $_product->getProductUrl();
						$image =  $_product->getImageUrl();
			?>
			
			<li data-position="<?php echo $sort_order; ?>" class="item last">
				<a href="<?php echo $prod_url; ?>" title="<?php echo $name ?>" class="product-image">
					<img src="<?php echo $image ?>" alt="<?php echo $name ?>">
				</a>
				<div class="product-info" style="padding-bottom: 88px; min-height: 166px;">
					<h3 class="product-name"><a href="<?php echo $prod_url ?>" title="<?php echo $name ?>"><?php echo $name ?></a></h3>

					<div class="price-box">
						<span class="regular-price" id="product-price-907-widget-new-grid">
							<span class="price"><?php echo Mage::helper('checkout')->formatPrice($reg_price); ?></span>
						</span>
					</div>
				</div>
			</li>

			<?php	
				}
			?>  
		</ul>
		
		<div class="widget-title">
			<h2>Custom Table</h2>
	   </div>
		<div class="datagrid">
			<table>
				<thead>
					<tr>
						<th>Id</th><th>Comment</th><th>Description</th>
					</tr>
				</thead>
				<tbody>
				<?php
					foreach($custom_datas as $data){
						echo "<tr>";
						foreach($data->getData() as $column){
							echo "<td>".$column."</td>";
						}
						echo "</tr>";
					}
				?>
				</tbody>
			</table>
		</div>
	</div>

</div>